###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/bin/
/templates/views/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> 忽略 node_modules ###
node_modules/
node_modules/**/*
###< 忽略 node_modules ###

###> 忽略字体文件，要支持所有字体格式 ###
*.woff2 *.ttf *.eot *.svg *.otf filter=lfs diff=lfs merge=lfs -text
###< 忽略字体文件 ###

temp.md

###> IDE & OS Files ###
.idea/
.vscode/
.DS_Store
.trae
###< IDE & OS Files ###

###> Uploads & Backups ###
public/uploads/
backups/
###< Uploads & Backups ###

###> Temp & Log Files ###
*.bak
*.swp
*.tmp
*.log
###< Temp & Log Files ###

###> Test Scratch Files ###
test_*.php
test_*.html
tests/test*.html
test_collection.php
test_db.php
test_employee_form.php
test_json.php
test_render.php
test_submit.php
test_twig.php
test_twig_select.php
test_click.html
test_hidden.html
test_post.html
test_we.html
###< Test Scratch Files ###

###> Binary & Empty Dirs ###
frankenphp
formFactory/
vuse/
###< Binary & Empty Dirs ###

###> Cache Files ###
.twig-cs-fixer.cache
.php-cs-fixer.cache
###< Cache Files ###
